*{
    background-color: #eeeeee;
    margin-top: 3%;
}

h1{
    text-align: center;
    color: #e78888;
    z-index: 2;
}

#descExercicio{
    color: rgb(132, 132, 132);
    text-align: center;
    font-size: 15px;
    font-style: bold italic;
    position: absolute;
    left: 39%;
    top: 27%;
    z-index: 2;
}

#botao{
    position: absolute;
    left: 47%;
    z-index: 2;
    top: 57%;
}

#resultado{
    position: absolute;
    left: 48%;
    top: 70%;
    z-index: 2;
}

#nome{
    position: absolute;
    left: 43%;
    top: 45%;
    z-index: 2;
}

#idade{
    position: absolute;
    left: 43%;
    top: 50%;
    z-index: 2;
}

.rectangle {
    width: 25rem;
    height: 18rem;
    background: #d7c1c1;
    position: absolute;
    top: 20%;
    left: 34%;
  }